@model MovieManager_TeunBuis.Models.MovieListModel

@{
    ViewData["Title"] = "EditMovieList";
}

<h1>EditMovieList</h1>

<h4>MovieListModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMovieList">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="AddMovieToList">Add movie</a>
</div>
<div>
    @Html.ActionLink("Back to my lists", "Index", new { UserId = Model.UserId })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
